body{
    background-image: url("../images/home-images/home\ background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.clear{
    clear: both;
}

header img{
    width: 500px;
    margin-left: 130px;
}

/* navigation bar */

.menubar{
    margin: 0 auto;
    width: 1220px;
    background-color: black;
}

.menubar img{  
    width: 40px;
}


nav ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-left: 20px;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
    padding: 0;
}

nav ul li .tabs{
    padding: 5x;
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: 'Zen Antique Soft', serif;
    padding: 0 10px;

}

nav ul li .tabs:hover{
    background-color: white;
    color: black;
}

/* start your body below */

.container{
    background-color: white;
    height: 460px;
        width: 1220px; 
         margin: 0 auto;
}

.head{
    width: 100%;
    margin-left: 50px;
    margin-top: 0;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Limelight', cursive;
}

.input_form{
    /* margin-left: 50px; */
    width: 50%;
    float: left;
    padding-left: 50px;
}

.myForm label{
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
} 

.input-box{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px, grey;
    width: 260px;
    margin: 15px auto;
    outline: none;
    font-size: 20px;
    padding: 10px;
    align-content: center;
}

.input-box:hover{
    background-color:lightyellow;
    padding: 10px;
}

/* dropdown */

.ratings{
    padding: 5px;
    width: 25%;
    font-size: 23px;
    margin-top: 23px;
    margin-bottom: 38px;   
    background-color: lightyellow;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 4, solid grey;
    outline: none;
}

.submit-btn{
    padding: 5px 15px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 30px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: black;
}

/* clip */

.clip1{
    width: 35%;
    height: 100px;
    float: left;
}

.clip1 img{
    width: 450px;
    text-align: center;
}

/* out put conatiner */

.output-container{
    height: 800px;
    background-color: lavender;
}

.output-table{
    width: 80%;
    margin-left: 100px;
    padding-top: 50px;
}

.output-table th, td{
    padding: 15px;
    font-size: 24px;
    font-family: sans-serif;

    background-color: cornsilk;
}

/* delete button */

#delete-btn{
    outline: none;
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}

#delete-btn:hover{
    background-color: rgb(255, 96, 96);
    cursor: pointer;
}
